*.o
*.a
*.log
*.status
*.core
*.deps/
*.cache/
*.libs/
src/bolkjuke

/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.sub
/configure
/configure.scan
/depcomp
/libtool
/ltmain.sh
/install-sh
/missing
/stamp-h1

Makefile
Makefile.in
